@using Mars.Options.Front
@using Mars.Shared.Tools

<div class="ASideOptions d-flex flex-column g-2">

    <NavLink class="mb-2" href="/dev/Settings" Match="@NavLinkMatch.All">
        Общие
    </NavLink>
    @* <NavLink class="mb-2" href="/dev/Settings/ActionHistory">
        Активность
    </NavLink> *@
    <NavLink class="mb-2" href="/dev/Settings/html">
        Host html
    </NavLink>
    <NavLink class="mb-2" href="/dev/Settings/Front">
        Front settings
    </NavLink>
    @foreach (var form in OptionFormList)
    {
        <NavLink class="mb-2"
                 href=@($"/dev/Settings/Option/{form.OptionType.FullName!.Replace(".", "+")}")>
            @form.DisplayName
        </NavLink>
    }
    <NavLink class="mb-2" href="/dev/Settings/HostCache">
        Кеширование
    </NavLink>
    <NavLink class="mb-2" href="/dev/Settings/About">
        О системе
    </NavLink>
</div>

<style>
    .ASideOptions a {
        border-bottom: 1px solid #c9c9c9;
        color: black;
        padding: 2px 8px;
    }

        .ASideOptions a.active {
            font-weight: bold;
            color: unset;
            border-left: 4px solid var(--bs-primary);
        }
</style>

@code {
    static List<OptionsFormsLocatorItem> OptionFormList = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        OptionFormList = OptionForms();
    }

    public static List<OptionsFormsLocatorItem> OptionForms()
    {
        if (OptionFormList.Any()) return OptionFormList;

        OptionFormList = OptionsFormsLocator.RegisteredFormsAutoShow().OrderBy(s => s.OptionType.Name).ToList();

        return OptionFormList;
    }
}
