@page "/Settings/Option/{OptionTypeFullName}"
@using AppFront.Main.OptionEditForms
@using Mars.Options.Front

<SettingsPageWrapper>

    @if (Busy)
    {
        <SharedLoader2 />
    }
    else if (optionFormType is null)
    {
        <p>Option type Form not found</p>
    }
    else
    {
        <DynamicComponent Type="optionFormType.FormType" />
    }
</SettingsPageWrapper>

@code {
    string _optionTypeFullName = default!;
    bool Busy;

    [Parameter]
    public string OptionTypeFullName
    {
        get => _optionTypeFullName;
        set { _optionTypeFullName = value; Load(); }
    }

    OptionsFormsLocatorItem? optionFormType;

    void Load()
    {
        Busy = true;
        optionFormType = null;

        string normalName = OptionTypeFullName.Replace("+", ".");

        optionFormType = ASideOptions.OptionForms()
           .FirstOrDefault(s => s.OptionType.FullName == normalName);

        Busy = false;
    }
}
