<ContentWrapper Title="@Title" Breadcrumb="">

    <div class="SettingsPageWrapper d-flex flex-column flex-lg-row flex-fill gap-4">
        <aside class="SettingsPageWrapper__aside" style="">
            <ASideOptions />
        </aside>
        <div class="flex-fill">

            <div class="float-end position-relative z-1">
                <XActionsDropDown ContextPart="wrapper" />
            </div>

            @ChildContent

        </div>
    </div>

</ContentWrapper>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? Title { get; set; } = "Настройки";
}

<style>
    @@media (min-width: 1200px) {
        .SettingsPageWrapper .SettingsPageWrapper__aside {
            flex: 0 0 200px
        }
    }
</style>
