@page "/Settings/Option/{OptionTypeFullName}"
@using AppFront.Main.OptionEditForms
@using Mars.Options.Front

<SettingsPageWrapper>

    @if (OptionFormList is null)
    {
        <SharedLoader2 />
    }
    else if (optionFormType is null)
    {
        <p>Option type Form not found</p>
    }
    else
    {
        <DynamicComponent Type="optionFormType.FormType" />
    }
</SettingsPageWrapper>

    @code {
    [Inject] OptionsFormsLocator _optionsFormsLocator { get; set; } = default!;

    static List<OptionsFormsLocatorItem>? OptionFormList;
    string _optionTypeFullName = default!;

    [Parameter]
    public string OptionTypeFullName
    {
        get => _optionTypeFullName;
        set { _optionTypeFullName = value; }
    }

    OptionsFormsLocatorItem? optionFormType;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        OptionFormList ??= _optionsFormsLocator.RegisteredFormsAutoShow().OrderBy(s => s.OptionType.Name).ToList();
    }

    protected override void OnParametersSet()
    {
        optionFormType = null;

        string normalName = OptionTypeFullName.Replace("+", ".");

        optionFormType = OptionFormList?.FirstOrDefault(s => s.OptionType.FullName == normalName);
    }
}
