@page "/Settings/About"
@using Microsoft.AspNetCore.Authorization
@using System.Reflection
@attribute [Authorize(Roles = "Admin")]
@attribute [Display(Name = "О системе")]

<SettingsPageWrapper>

    <h3>О системе</h3>

    <div class="card">
        <div class="card-body text-break">

            @if (_info is null)
            {
                <SharedLoader1 />
            }
            else
            {

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th><strong>@AppRes.v_name</strong></th>
                            <th><strong>@AppRes.Value</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var d in _info)
                        {
                            <tr>
                                <td style="min-width:200px">@d.Key</td>
                                <td>@d.Value</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>

</SettingsPageWrapper>

@code {
    OrderedDictionary<string, MarkupString>? _info;
    [Inject] IMarsWebApiClient client { get; set; } = default!;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Task.Run(async () =>
        {
            var aboutInfo = await client.System.AboutSystem();

            _info = new(aboutInfo.ToDictionary(s => s.Key, s => (MarkupString)s.Value));
            var keyGitSHA = "Git SHA";

            if (_info.TryGetValue(keyGitSHA, out var sourceRevisionId))
            {
                var assembly = Assembly.GetExecutingAssembly();
                var metaAttributes = assembly.GetCustomAttributes<AssemblyMetadataAttribute>();
                var repositoryUrl = metaAttributes.FirstOrDefault(x => x.Key == "RepositoryUrl")?.Value;

                if (repositoryUrl.IsNotNullOrEmpty())
                {
                    var commitPageLink = $"{repositoryUrl}/commit/{sourceRevisionId}";
                    _info[keyGitSHA] = (MarkupString)$"""<a href="{commitPageLink}" target="_blank">{sourceRevisionId}</a>""";

                }

            }

            StateHasChanged();
        });
    }
}
