@page "/Settings/"
@attribute [Authorize(Roles = "Admin")]
@attribute [Display(Name = "Настройки")]

<SettingsPageWrapper>
    <div class="row">
        <div class="col-12 col-xl-9">
            <AppFront.Shared.OptionEditForms.SysOptionsEditForm />
        </div>
        <div class="col-12 col-xl-3">
            <NavLink href="/dev/builder/styler">Изменить цвета системы</NavLink>
        </div>
    </div>

</SettingsPageWrapper>
