@page "/EditPost/{POSTTYPE}"
@page "/EditPost/{POSTTYPE}/{ID:guid}"

@using AppFront.Shared.Tools
@using Mars.Shared.Contracts.PostTypes
@using MarsCodeEditor2
@using Blazored.TextEditor
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Roles = "Admin")]

<ContentWrapper>

    @if (POSTTYPE == "gallery")
    {
        @* <AppAdmin.Pages.PostsViews.SpecialViews.GalleryEditView ID=@ID QueryPostType=@QueryPostType /> *@
    }
    else
    {
        <EditPostView ID=@ID PostTypeName=@POSTTYPE />
    }
    <div class="spacer-2"></div>

</ContentWrapper>

@code {

    [Parameter] public Guid ID { get; set; }
    [Parameter] public string POSTTYPE { get; set; } = "post";
}
