@page "/Post"
@page "/Post/{POSTTYPE}"
@using AppAdmin.Pages.PageViews
@inject IStringLocalizer<AppRes> L
@attribute [Authorize(Roles = "Admin")]

<ContentWrapper Title="@(postType?.Title)" WrapperClass="vstack">
    <SectionActions>
        <XActionsDropDown ContextPart="@POSTTYPE" />
    </SectionActions>
    <ChildContent>

        @if (postType?.Presentation.ListViewTemplate == null)
        {
            @if (POSTTYPE == "page")
            {
                <div class="p-2 d-flex position-relative">
                    <AppFrontInfoBadge />
                    <a href="template/view" class="stretched-link"></a>
                </div>
            }
        }
        @if (POSTTYPE == "gallery")
        {
            <div>
                @* <AppAdmin.Pages.PostsViews.SpecialViews.GalleryManageView POSTTYPE=@POSTTYPE /> *@
                gallery
            </div>
        }
        else
        {
            <ManagePostView @ref=_managePostView PostType=@postType />
        }

    </ChildContent>
</ContentWrapper>
