@* @page "/{POSTTYPE}/{IDorSLUG}" *@
@using Mars.Core.Features
@using BlazoredHtmlRender
@*@attribute [Display(Name = "Запись"), DParentPage(typeof(SettingsPage))]*@
@attribute [Display(Name = "Запись")]

<PageTitle>@(CurrentPageTitle ?? Q.Site?.SysOptions.SiteName)</PageTitle>

<ContentWrapper>
    @*Title="@(CurrentPageTitle??"Запись")" Breadcrumb=""
    <SectionActions>
        @if (Q.User.IsAdmin)
        {
            <div class="text-end">
                <Button Type=@ButtonType.Text Icon="redo" OnClick="e=>Load()"></Button>
                <a href="/dev/Post/post">
                    <Button Type=@ButtonType.Text>
                        Добавить
                    </Button>
                </a>
                <a href="/dev/EditPost/@ID">
                    <Button Type=@ButtonType.Text Icon="edit">
                        Редактировать
                    </Button>
                </a>
            </div>
        }
    </SectionActions>*@
    <ChildContent>
        @if (Busy)
        {
            <div class="xcenter" style="min-height:50vh">
                <SharedLoader1 />
            </div>
        }
        else if (_error is not null)
        {
            <div class="alert alert-danger">
                @_error
            </div>
        }
        else if(res is null)
        {
            <div>null</div>
        }
        else if (res.NotFound)
        {
            <SharedError404 />
        }
        else if (res.Ok == false)
        {
            <div class="alert alert-danger container">
                <pre>@res.Message</pre>
            </div>
        }
        else
        {
            @*@((MarkupString)postRender.Html)*@
            <BlazoredHtml Html=@postRender.Html />

        }

        @if(Q.IsDevelopment || Q.User.IsDeveloper)
        {
            @*<Button Icon="redo" OnClick="e=>Load(true,true)" Class="DEV_btn_page__refresh" />*@
            <button class="btn DEV_btn_page__refresh" @onclick="e=>Load(true,true)">
                <i class="bi bi-arrow-clockwise"></i>
            </button>
            <HotCheckAni />
        }
    </ChildContent>
</ContentWrapper>
