@page "/datasource"

<ContentWrapper Title="Models">

    <section class="_MODELS_LIST">
        <div class="row row-cols-1 row-cols-md-2 g-3">
            <div class="col">
                <div class="card d-card-glow">
                    <div class="hstack ms-4">
                        <div class="vstack flex-grow-0 my-3">
                            <i class="bi bi-database-fill-gear fs-1"></i>
                        </div>
                        <div class="card-body">
                            <h4 class="mb-0">
                                Datasoources
                            </h4>
                            <p class="">Настройки БД</p>
                            <p class="text-secondary">psql,mssql,mysql</p>
                            <a href="datasource/config" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card d-card-glow">
                    <div class="hstack ms-4">
                        <div class="vstack flex-grow-0 my-3">
                            <i class="bi bi-table fs-1"></i>
                        </div>
                        <div class="card-body">
                            <h4 class="mb-0">
                                Tables
                            </h4>
                            <p class="">Tables and sql Query</p>
                            <p class="text-secondary">Создавайте запросы и редактируйте базу</p>
                            <a href="datasource/query" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card d-card-glow">
                    <div class="hstack ms-4">
                        <div class="vstack flex-grow-0 my-3">
                            <i class="bi bi-wrench fs-1"></i>
                        </div>
                        <div class="card-body">
                            <h4 class="mb-0">
                                Utils
                            </h4>
                            <p class="">sql tools</p>
                            <p class="text-secondary">Инструменты, метрики, найстройки</p>
                            <a href="datasource/actions" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</ContentWrapper>
