@page "/datasource/actions"

<div class="flex-fill">
    <div class="card">
        <div class="card-body p-5">
            <Mars.Datasource.Front.DataSourceInfoComponent />

        </div>
    </div>
</div>
