# ---------------------------
# 1. Игнорируем вообще всё
# ---------------------------
**

# ---------------------------
# 2. Разрешаем только исходники
# ---------------------------
!src/**

# ---------------------------
# 3. Но мусор внутри src всё равно исключаем
# ---------------------------
**/bin/
**/obj/
**/.vs/
**/.vscode/
**/node_modules/

# ---------------------------
# 4. Исключаем runtime данные
# ---------------------------
src/**/wwwroot/upload/
src/**/logs/

# ---------------------------
# 5. Исключаем локальные конфиги
# ---------------------------
/**/*.user
**/secrets.dev.yaml
**/values.dev.yaml
**/.env

# ---------------------------
# 6. Разрешаем Docker файлы
# ---------------------------
!Dockerfile
!.dockerignore

# ---------------------------
# 7. Разрешаем solution/build props
# ---------------------------
!*.sln
!*.slnx
!Directory.Build.props
!Directory.Build.targets
!Directory.Packages.props
!NuGet.config
!global.json

# ---------------------------
# 8. Исключаем файлы приложения
# ---------------------------
**/Mars.WebApp/*.ps1

**/Mars.WebApp/logs
**/Mars.WebApp/wwwroot/upload/*

**/Mars.WebApp/*.user
**/Mars.WebApp/appsettings.local.json
**/Mars.WebApp/appsettings.Local.json
**/Mars.WebApp/*.local.ps1
**/Mars.WebApp/*.local.json
**/Mars.WebApp/*-local.ps1
**/Mars.WebApp/*-local.json
