@using Microsoft.FluentUI.AspNetCore.Components

@typeparam TValue

<FluentInputLabel AdditionalAttributes="@AdditionalAttributes" Label="@_displayName" Required=_required />

<div class="AutoInputLabel__Content">
    @ChildContent

    @if (_description is not null)
    {
        <div class="d-fluent-input-description">@_description</div>
    }
</div>
