@using Microsoft.FluentUI.AspNetCore.Components

@implements IDialogContentComponent<string>

<FluentDialogHeader ShowDismiss="false" ShowDismissTooltip="false">
    <div class="hstack">
        <FluentIcon Value="@(new Icons.Regular.Size24.Info())" Color="Color.Info" Class="me-2" />
        <FluentLabel Typo="Typography.Header">@(Dialog.Instance.Parameters.Title ?? "Help")</FluentLabel>
    </div>
</FluentDialogHeader>
<FluentDialogBody Class="text-start">
    <div class="my-2">
        <FluentMarkdownSection FromAsset="@Url" />
    </div>
</FluentDialogBody>

<FluentDialogFooter>
    <div class="hstack gap-2 justify-content-end">
        <FluentButton Appearance="Appearance.Neutral" OnClick="CancelAsync">
            @AppRes.Ok
        </FluentButton>
    </div>
</FluentDialogFooter>

@code {
    [CascadingParameter]
    public FluentDialog Dialog { get; set; } = default!;

    [Parameter]
    public string Content { get; set; } = default!;

    private string Url => Content;

    private Task OkAsync() => Dialog.CloseAsync();

    private Task CancelAsync() => Dialog.CancelAsync();
}
