@using Microsoft.FluentUI.AspNetCore.Components

<div class="vstack gap-3">
    <FluentSkeleton Width="w-100" Height="30px" Shimmer="true" />
    <div class="vstack gap-2">
        <FluentSkeleton Class="w-100" Height="16px;" Shimmer="true" />
        <FluentSkeleton Class="w-100" Height="16px;" Shimmer="true" />
        <FluentSkeleton Class="w-100" Height="16px;" Shimmer="true" />
        <FluentSkeleton Class="w-75" Height="16px;" Shimmer="true" />
    </div>
</div>
