<div class="CodeEditor2 d-flex flex-column flex-fill" style=@ContainerCssStyle>

    <CascadingValue Value="this">
        <div class="d-flex flex-rows align-items-center" style="height:38px;">
            @HeaderArea

            @if (!HideToolbarComponents)
            {
                <div class="ms-auto hstack">
                    @foreach (var toolbar in ToolbarComponents)
                    {
                        <DynamicComponent Type="toolbar" />
                    }
                </div>
            }
        </div>
    </CascadingValue>

    <BlazorMonaco.Editor.StandaloneCodeEditor @ref="editor1"
                                              CssClass=@MonacoCssClass
                                              OnDidInit="EditorOnDidInit"
                                              ConstructionOptions="EditorConstructionOptions" />

</div>

@if (Lang == Language.handlebars)
{
    <HandlebarsHintsText />
}
