<div class="CodeEditor2 d-flex flex-column flex-fill" style=@ContainerCssStyle>

    <CascadingValue Value="this">
        @HeaderArea

        @if (!HideToolbarComponents)
        {
            @foreach (var toolbar in ToolbarComponents)
            {
                <DynamicComponent Type="toolbar" />
            }
        }
    </CascadingValue>

    <BlazorMonaco.Editor.StandaloneCodeEditor @ref="editor1"
                                              CssClass=@MonacoCssClass
                                              OnDidInit="EditorOnDidInit"
                                              ConstructionOptions="EditorConstructionOptions" />

</div>

@if (Lang == "handlebars")
{
    <HandlebarsHintsText />
}
