<div class="mt-1 mb-2">

    <div>
        <b>common</b> =
        .count
        .first
        .hasValue
        .last
        .next
        .parent
        .path
        .previous
        .root
        .type

        <b>#each</b> - context =
        @@root
        @@parent
        @@value
        @@first
        @@last
        @@index
        @@key

        <br />

        <b>helpers</b> #eq #neq

        <b>blocks</b> {{>blockSlug}}

        <b>app</b> $user _user

        <b>help</b>
        <mark>{{{#help}}}</mark>
    </div>

    <a class="badge rounded-pill bg-secondary fz12px" href="https://github.com/Handlebars-Net/Handlebars.Net" target="_blank">
        handlebars.net
    </a>
    <a class="badge rounded-pill bg-secondary fz12px" href="https://handlebarsjs.com/guide/#simple-expressions" target="_blank">
        handlebarsjs
    </a>
    <a class="badge rounded-pill bg-secondary fz12px" href="https://www.w3schools.com/bootstrap5/bootstrap_buttons.php" target="_blank">
        bootstrap5
    </a>
</div>
