<div class="alert alert-danger mt-1 alert-validation-msg" role="alert">
    <div class="alert-body text-black">
        <i class="bi bi-x-circle-fill"></i>
        У вас нет прав доступа к этой странице
    </div>
</div>
