<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <base href="/" />
    <link rel="icon" type="image/png" href="icon-128.png">
    <title>MarsDocs.WebApp</title>

    <link href="_content/Microsoft.FluentUI.AspNetCore.Components/css/reboot.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    @* <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" /> *@
    <link rel="stylesheet" href="@Assets["MarsDocs.DevServer.styles.css"]" />
    <link rel="stylesheet" href="@Assets["MarsDocs.WebApp.styles.css"]" />
    <link rel="stylesheet" href="@Assets["css/app.css"]" />
    <ImportMap />
    <HeadOutlet @rendermode="InteractiveWebAssembly" />
</head>

<body>
    @* <Routes @rendermode="InteractiveWebAssembly" /> *@
    <div id="app">
        <MarsDocs.WebApp.App @rendermode="InteractiveWebAssembly" />
    </div>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
