@using Mars.Shared.Resources
<div class="login-card">
    <div class="text-center mb-4">
        <h4 class="fw-bold">@AppRes.SignIn</h4>
        <p class="text-muted">@AppRes.LoginPage_AccessYourAccount</p>
    </div>

    <div class="text-center">
        <i class="">Invalid Request</i>
    </div>
</div>
