@using System.Collections.ObjectModel

<div class="FormMetaValue FormMetaField" style="">

    <CascadingValue Value="this">
        <CascadingValue Value="MetaFields">
            <CascadingValue Value="MetaValues">
                <FormMetaValueItems Vertical=@Vertical Client=@Client />
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>

</div>


