<div>
    <ul class="nav nav-pills Montserrat __nav-fill mt-2 gap-2 p-1 1small rounded-5"
        style="--bs-nav-pills-link-active-color: var(--bs-white);--bs-nav-link-color: var(--bs-black);--bs-nav-pills-link-active-bg: var(--bs-primary);">
        <li class="nav-item" role="presentation">
            <NavLink href=@($"EditPostType/{ID}") class="nav-link rounded-5">Edit fields</NavLink>
        </li>
        <li class="nav-item" role="presentation">
            <NavLink href=@($"EditPostType/Presentation/{ID}") class="nav-link rounded-5">Presentation</NavLink>
        </li>
    </ul>
    <div class="spacer-1"></div>
</div>
@code {
    [Parameter, EditorRequired] public Guid ID { get; set; }
}
