<ErrorBoundary @ref="@eb">
    <ChildContent>
        @renderHtml
    </ChildContent>
    <ErrorContent>
        <p class="alert alert-danger container">
            @context.Message
            <pre>@context.StackTrace</pre>
        </p>
    </ErrorContent>
</ErrorBoundary>
