@page "/nodered"
@implements IDisposable
@using AppFront.Shared.Hub
@using Mars.Core.Models
@using Mars.Nodes.Core
@using Microsoft.AspNetCore.SignalR.Client
@using Mars.Nodes.Workspace
@using Mars.Nodes.Workspace.Services

@if (Busy)
{
    <div class="p-5 main-fill xcenter">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>

    </div>
}
else
{
    if (nodes is null)
    {
        <h1>is null</h1>
    }
    else
    {
        <NodeEditor1 OnDeploy="OnDeploy"
                     OnInject="OnInjectClick"
                     OnCmdClick="OnCmdClick"
                     @ref=editor1 @bind-AllNodes=@nodes>
            <SectionActions>
                <XActionsDropDown />
            </SectionActions>
        </NodeEditor1>
    }
}
