@using Microsoft.FluentUI.AspNetCore.Components
@attribute [OptionEditFormForOptionAttribute(typeof(FaviconOption))]
@attribute [Display(Name = "Favicon")]
@attribute [AutoShowFormOnSettingsPage]

<EditOptionForm @ref=form TModel="FaviconOption" FormClass="compact">
    <h3>Настройки Favicon</h3>
    <div class="vstack gap-4">
        <FormItem2 For=@(() => context.ThemeColor)>
            <FluentTextField TextFieldType="@TextFieldType.Color" @bind-Value="context.ThemeColor" Style="width:40px;" />
        </FormItem2>
        <FormItem2 For=@(() => context.BackgroundColor)>
            <FluentTextField TextFieldType="@TextFieldType.Color" @bind-Value="context.BackgroundColor" Style="width:40px;" />
        </FormItem2>
        <FormItem2 For=@(() => context.FaviconSourceImageId)>
            <AppFront.Shared.Components.MediaViews.FSelectMedia @bind-Value=context.FaviconSourceImageId />
        </FormItem2>
    </div>
</EditOptionForm>

@code {
    EditOptionForm<FaviconOption>? form;

}
