@page "/Anketa"

@inject AnketaQuestionService service
@inject MessageService _message

<ContentWrapper>
    @if (Q.User.IsAdmin)
    {
        <div class="text-end mb-3">
            <a href="/Manage/AnketaAnswers">
                <Button Type=@ButtonType.Text>
                    Проверить ответы
                </Button>
            </a>
            <a href="/Manage/AnketaManage">
                <Button Type=@ButtonType.Text>
                    Управление
                </Button>
            </a>
        </div>
    }

    <TabsBio />

    <WinSleep />

</ContentWrapper>
