@page "/SendState"

<ContentWrapper Title="Состояние" BackButton>

    @if (true)
    {
        <div class="text-center mt-5">
            <a href="/">
                <Button Class="btn-pass">Главная</Button>
            </a>
        </div>
    }
    </ContentWrapper>

