<div class="TabsBio">
    <ul class="nav nav-pills nav-justified shadow-none bg-transparent px-0">
        <li class="nav-item 1px-3">
            <NavLink class="nav-link" href="/bio" Match="NavLinkMatch.All">
                Биоритмы
            </NavLink>
        </li>
        <li class="nav-item 1px-3">
            <NavLink class="nav-link" href="/Anketa">
                Анкеты
            </NavLink>
        </li>
    </ul>
</div>

<div class="spacer-1"></div>

<style>
    .TabsBio .nav-link {
        border-radius: 6px;
        color: #5A5A5A;
    }

        .TabsBio .nav-link.active {
            background: #ACFFD7;
            color: #5A5A5A;
            font-weight: 700;
        }
</style>
