@page "/quick-start"

<PageTitle>Быстрый старт</PageTitle>

<ContentWrapper>
    <h3>Быстрый старт</h3>

    ```
    //test start
    docker run -d --name mars-app-nocontent -w /app -p 5005:80  -e "ConnectionStrings__DefaultConnection=Host=host.docker.internal:5432;Database=mars_docker_app2;Username=postgres;Password=ggxxrr" mdimai666/mars:latest
    ```

    ```
    //content save
    docker run -d --name mars1 -w /app -p 5005:80 -e ASPNETCORE_CONTENTROOT=/app -e "ConnectionStrings__DefaultConnection=Host=host.docker.internal:5432;Database=mars;Username=postgres;Password=postgres" -v "$(pwd)/data:/app/data" -v "$(pwd)/upload:/app/wwwroot/upload" -v "$(pwd)/data-protection-keys:/root/.aspnet/DataProtection-Keys" mdimai666/mars:latest
    ```

</ContentWrapper>
