@import (reference) "mixins.less";

///////////////////////// HEADER ///////////////////////////////
.top-navbar .nav-item.nav-profile .nav-link img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.icon-button {
    .bg-contain();
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    vertical-align: middle;
}

.rounded-15 {
    border-radius: 15px;
}

.rounded-8 {
    border-radius: 8px;
}

///ADMIN-------------------------
.admin-layout {
    background: var(--mars-bg-surface);
}

.admin-layout .logo {
    .bg-contain();
    background-image: url(/mars/img/logo.svg);
    width: 237px;
    height: 51px;
}

.btn-backbutton {
    display: flex;
    align-items: center;
    user-select: none;

    .icon-wrapper {
        width: 55px;
        height: 55px;
        .bg();
        border-radius: 6px;
        overflow: hidden;
        .xcenter();
        flex-grow: 0;
        flex-shrink: 0;

        .icon {
            width: 25px;
            height: 25px;
            display: block;
            .bg();
            background-image: url('/dev/img/icon-back.svg')
        }
    }

    span {
        margin-left: 24px;
        font-size: 24px;
        color: var(--mars-text-primary);
    }

    &:active {
        .icon-wrapper {
            background-color: var(--mars-bg-surface-active);
        }

        span {
            color: var(--mars-color-accent);
        }
    }
}

.layout-standard-title {
    position: relative;

    .layout-backbutton-pull-left {
        position: absolute;
    }
}
