.spacer {
    display: block;
    height: 100px;
    width: 100%;
}

.spacer-1:extend(.spacer) {
    height: 1rem;
}

.spacer-2:extend(.spacer) {
    height: 2rem;
}

.spacer-3:extend(.spacer) {
    height: 3rem;
}

.spacer-5:extend(.spacer) {
    height: 5rem;
}
