///////////////////////////////////////////////////
// TEXT
///////////////////////////////////////////////////

.fz10px {
    font-size: 10px;
}

.fz12px {
    font-size: 12px;
}

.fz14px {
    font-size: 14px;
}

.fz16px {
    font-size: 16px;
}

.fz18px {
    font-size: 18px;
}

.fz20px {
    font-size: 20px;
}

.fz22px {
    font-size: 22px;
}

.fz24px {
    font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat';
    color: unset;
}

.text-black2 {
    color: black !important;
}

.text-accent {
    color: var(--accent-fill-rest) !important;
}

.text-fade {
    opacity: 0.8 !important;
}

body.dark {
    h1, h2, h3, h4, h5, h6 {
        color: white;
    }

    .text-black2 {
        color: white !important;
    }

    .text-accent {
        color: white !important;
    }
}

.fw-400 {
    font-weight: 400;
}

.fw-600 {
    font-weight: 600;
}

.Montserrat {
    font-family: 'Montserrat';
}

.lines-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.lines-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}
