<div class="_TOP flex-fill">

    <a class="sbtn" href="/dev/">
        <i class="bi bi-house"></i>
    </a>
    <hr class="my-1" />
    <NavLink class="sbtn mb-2" href="/dev/builder" Match="@NavLinkMatch.All">
        <i class="bi bi-grid-3x3-gap-fill"></i>
    </NavLink>
    <NavLink class="sbtn" href="/dev/builder/models">
        <i class="bi bi-box"></i>
    </NavLink>
    <NavLink class="sbtn">
        <i class="bi bi-folder"></i>
    </NavLink>
    <NavLink class="sbtn" href="/dev/datasource">
        <i class="bi bi-database"></i>
    </NavLink>
    <NavLink class="sbtn" href="/dev/forms">
        <i class="bi bi-layout-text-sidebar-reverse"></i>
    </NavLink>
    <NavLink class="sbtn" href="/dev/nodered">
        <i class="bi bi-diagram-2 sbtn-rotate--90"></i>
    </NavLink>
    <NavLink class="sbtn" href="/dev/builder/docker">
        <i class="bi bi-docker-black"></i>
    </NavLink>
    <NavLink class="sbtn">
        <i class="bi bi-clipboard2-check"></i>
    </NavLink>
    <NavLink class="sbtn">
        <i class="bi bi-hexagon"></i>
    </NavLink>
    <NavLink class="sbtn">
        <i class="bi bi-inboxes"></i>
    </NavLink>
    <NavLink class="sbtn">
        <i class="bi bi-cpu"></i>
    </NavLink>
</div>
<div class="_BOTTOM">
    <NavLink class="sbtn" href="/dev/builder/debug">
        <i class="bi bi-bug"></i>
    </NavLink>
    <hr class="my-1" />

    <NavLink class="sbtn">
        <i class="bi bi-person-circle"></i>
    </NavLink>
    <NavLink class="sbtn" href="/dev/builder/settings">
        <i class="bi bi-gear"></i>
    </NavLink>
</div>

