@using Mars.Shared.Contracts.WebSite.Dto
@inject IMarsWebApiClient client

<div class="AppFrontInfoBadge card p-2" style="min-width:160px">

    @if (Busy)
    {
        <div class="placeholder-glow">
            <div class="card-text rounded-2 placeholder w-50"></div>
            <div class="card-text rounded-2 placeholder w-100"></div>
        </div>
    }
    else if (info is null)
    {
        <div>
            <div class="p-2 bg-secondary">
                null
            </div>
        </div>
    }
    else
    {
        <div class="vstack text-secondary gap-0">
            <div>Mode: @info.Mode</div>
            <div>pages: @info.PagesCount <span class="vr mx-1"></span> parts: @info.PartsCount </div>
        </div>
    }
</div>

@code {
    bool Busy;

    static FrontSummaryInfoResponse? info;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Load();
    }

    async void Load()
    {
        if (info is not null) return;

        Busy = true;
        StateHasChanged();

        info = await client.Front.FrontSummaryInfo();

        Busy = false;
        StateHasChanged();
    }
}
