@implements IDisposable

@using AppFront.Shared.Components
@using Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.JSInterop

@*============*@
<div class="NodeEditContainer1">
    <div class="offcanvas offcanvas-bottom 1acrylic" data-bs-scroll="false" data-bs-backdrop="true"
         style="height:70vh;max-width: 1600px;margin: auto;"
         id="node-editor-offcanvas">
        <div class="offcanvas-header">
            <h3 class="offcanvas-title">Edit node</h3>

            <div class="__right d-flex gap-3">

                <DFluentDeleteButton OnConfirm="FormDeleteClick" />

                <FluentButton OnClick="FormCloseClick"
                              Appearance="Appearance.Neutral">
                    @AppRes.Cancel
                </FluentButton>

                <FluentButton OnClick="FormSaveClick"
                              Loading=@saveLoading
                              Appearance="Appearance.Accent">
                    @AppRes.Save
                </FluentButton>

                @* <button type="button" class="btn btn-outline" @onclick=FormCloseClick>Cancel</button> *@

                @* <button class="btn btn-primary" id="node-editor-btn-save" @onclick=FormSaveClick>
                    @if (saveLoading)
                    {
                        <span class="spinner-border spinner-border-sm text-light me-2" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </span>
                    }
                    <span>Save</span>
                </button> *@

                @* <button type="button" class="btn-close p-3" @onclick=FormCloseClick></button> *@

            </div>

        </div>
        <div class="offcanvas-body d-flex pt-0">
            @*<p>Some text lorem ipsum.</p>*@
            @*<button class="btn btn-secondary" type="button">A Button</button>*@

            @if (Node != null)
            {
                <CascadingValue Value="this">
                    <div class="row flex-fill">
                        <div class="col-md-6">
                            <NodeFormEditor1 @ref=nodeFormEditor1 @bind-Node=Node OnValidSubmit=OnValidSubmit />
                        </div>
                        <div class="col-md-6" style="height:calc(70vh - 80px); overflow:auto;">
                            @* <FluentMarkdownSection FromAsset="./_content/NodeFormEditor/Docs/VariableSetNode/VariableSetNode.ru.md" /> *@
                            <DocViewer For="()=>Node.GetType()" />
                        </div>
                    </div>
                </CascadingValue>
            }

        </div>
    </div>
</div>
@*============*@

<style>
    .fluent-dialog-main {
        /*bootstrap offcanvas overlow*/
        z-index: 1050 !important;
    }
</style>
