@using AppFront.Shared.Components
@using Mars.Core.Extensions
@using Microsoft.FluentUI.AspNetCore.Components
@using Mars.Nodes.FormEditor.EditForms.Components
@inherits NodeEditForm
@attribute [NodeEditFormForNode(typeof(AuthFlowConfigNode))]

<div class="form-group compact" style="--fluent-input-label-basis:150px">
    <div class="vstack gap-2">

        <FormItem2 For="() => Node.Mode">
            <FluentSelect TOption="AuthFlowNodeMode"
                          Items="Enum.GetValues<AuthFlowNodeMode>()"
                          @bind-SelectedOption=@Node.Mode />
        </FormItem2>

        <FormItem2 For="() => Node.TimeoutSeconds">
            <FluentNumberField @bind-Value=@Node.TimeoutSeconds Class="" />
        </FormItem2>

        <div class="spacer-1"></div>

        <FluentLabel Typo="Typography.Subject">Creditionals</FluentLabel>

        @if (Node.Mode != AuthFlowNodeMode.ApiKey)
        {
            <FormItem2 For="() => Node.Username">
                <FluentTextField @bind-Value=@Node.Username Class="" Required AutoComplete="new-password" />
            </FormItem2>
            <FormItem2 For="() => Node.Password">
                <FluentTextField TextFieldType="TextFieldType.Password" @bind-Value=@Node.Password Class="" Required AutoComplete="new-password" />
            </FormItem2>
        }

        @if (Node.Mode == AuthFlowNodeMode.BasicAuth)
        {
            // not required
        }
        else if (Node.Mode == AuthFlowNodeMode.BearerToken)
        {
            <FormItem2 For="() => Node.TokenUrl">
                <FluentTextField @bind-Value=@Node.TokenUrl Class="flex-fill" Required />
            </FormItem2>
            <FormItem2 For="() => Node.ClientId">
                <FluentTextField @bind-Value=@Node.ClientId Class="flex-fill" Required />
            </FormItem2>
            <FormItem2 For="() => Node.ClientSecret">
                <FluentTextField @bind-Value=@Node.ClientSecret Class="flex-fill" />
            </FormItem2>
            <FormItem2 For="() => Node.Scope">
                <FluentTextField @bind-Value=@Node.Scope Class="flex-fill" Required />
            </FormItem2>
        }
        else if (Node.Mode == AuthFlowNodeMode.CookieForm)
        {
            <FormItem2 For="() => Node.LoginPageUrl">
                <FluentTextField @bind-Value=@Node.LoginPageUrl Class="flex-fill" Required />
            </FormItem2>
            <FormItem2 For="() => Node.FollowRedirects" Label="&nbsp;">
                <FluentCheckbox @bind-Value=@Node.FollowRedirects Class="">
                    <AutoInputLabel For="() => Node.FollowRedirects" />
                </FluentCheckbox>
            </FormItem2>
        }
        else if (Node.Mode == AuthFlowNodeMode.CookieEndpoint)
        {
            <FormItem2 For="() => Node.CookieEndpointConfig.LoginEndpointUrl">
                <FluentTextField @bind-Value=@Node.CookieEndpointConfig.LoginEndpointUrl Class="flex-fill" Required />
            </FormItem2>
            <FormItem2 For="() => Node.CookieEndpointConfig.UsernameFieldName">
                <FluentTextField @bind-Value=@Node.CookieEndpointConfig.UsernameFieldName Class="flex-fill" />
            </FormItem2>
            <FormItem2 For="() => Node.CookieEndpointConfig.PasswordFieldName">
                <FluentTextField @bind-Value=@Node.CookieEndpointConfig.PasswordFieldName Class="flex-fill" />
            </FormItem2>

            <FormItem2 For="() => Node.CookieEndpointConfig.AdditionalFields">
                <DictionaryTextArea @bind-Value="Node.CookieEndpointConfig.AdditionalFields" Class="flex-fill" />
            </FormItem2>
            <FormItem2 For="() => Node.CookieEndpointConfig.ContentType">
                <FluentSelect TOption="AuthFlowLoginEndpointContentType"
                              Items="Enum.GetValues<AuthFlowLoginEndpointContentType>()"
                              @bind-SelectedOption=@Node.CookieEndpointConfig.ContentType />
            </FormItem2>
            <FormItem2 For="() => Node.CookieEndpointConfig.LoginHeaders">
                <DictionaryTextArea @bind-Value="Node.CookieEndpointConfig.LoginHeaders" Class="flex-fill" />
            </FormItem2>

            <FormItem2 For="() => Node.CookieEndpointConfig.HealthCheckUrl">
                <FluentTextField @bind-Value=@Node.CookieEndpointConfig.HealthCheckUrl Class="flex-fill" />
            </FormItem2>
            <FormItem2 For="() => Node.CookieEndpointConfig.AuthCookieName">
                <FluentTextField @bind-Value=@Node.CookieEndpointConfig.AuthCookieName Class="flex-fill" />
            </FormItem2>
            <FormItem2 For="() => Node.CookieEndpointConfig.FollowRedirects" Label="&nbsp;">
                <FluentCheckbox @bind-Value=@Node.CookieEndpointConfig.FollowRedirects Class="">
                    <AutoInputLabel For="() => Node.CookieEndpointConfig.FollowRedirects" />
                </FluentCheckbox>
            </FormItem2>
        }
        else if (Node.Mode == AuthFlowNodeMode.ApiKey)
        {
            <FormItem2 For="() => Node.ApiKey">
                <FluentTextField @bind-Value=@Node.ApiKey Class="flex-fill" Required />
            </FormItem2>
            <FormItem2 For="() => Node.ApiKeyHeaderName">
                <FluentTextField @bind-Value=@Node.ApiKeyHeaderName Class="flex-fill" />
            </FormItem2>
        }
        else
        {
            <div class="alert alert-warning">
                Mode not implement
            </div>
        }

    </div>
</div>

@code {
    [CascadingParameter] Node? Value { get; set; }
    AuthFlowConfigNode Node { get => (AuthFlowConfigNode)Value!; set => Value = value; }

    public override Task OnEditSave()
    {
        Node.Username = Node.Username.AsNullIfEmpty();
        Node.Password = Node.Password.AsNullIfEmpty();

        Node.TokenUrl = Node.TokenUrl.AsNullIfEmpty();
        Node.ClientId = Node.ClientId.AsNullIfEmpty();
        Node.ClientSecret = Node.ClientSecret.AsNullIfEmpty();
        // Node.Scope = Node.Scope ?? "";

        Node.LoginPageUrl = Node.LoginPageUrl.AsNullIfEmpty();

        Node.ApiKey = Node.ApiKey.AsNullIfEmpty();
        Node.ApiKeyHeaderName = Node.ApiKeyHeaderName.AsNullIfEmpty();

        return base.OnEditSave();
    }

}
