@inherits NodeEditForm
@attribute [NodeEditFormForNode(typeof(CheckUserNode))]

<div class="form-group d-flex flex-column flex-fill">
    
</div>

@code {
    [CascadingParameter] Node? Value { get; set; }
    CheckUserNode Node { get => (CheckUserNode)Value!; set => Value = value; }

}
