@using AppFront.Shared.Components
@using Microsoft.FluentUI.AspNetCore.Components
@inherits NodeEditForm
@attribute [NodeEditFormForNode(typeof(DelayNode))]

<div class="form-group d-flex flex-column flex-fill">
    <FormItem2 For="() => Node.DelayMillis">
        <FluentNumberField @bind-Value=Node.DelayMillis Class="" Min="0" />
    </FormItem2>
</div>

@code {
    [CascadingParameter] Node Value { get; set; } = default!;
    DelayNode Node { get => (DelayNode)Value; set => Value = value; }

}
