@using MarsEditors
@using Mars.Nodes.FormEditor.EditForms.Components
@inherits NodeEditForm
@attribute [NodeEditFormForNode(typeof(EventNode))]


<div class="form-group d-flex flex-column flex-fill">

    <CodeEditorSuggestSearchInput SearchApiUrl="/api/Node/FunctionCodeSuggest/IEventManager.dict?search=" OnSnippetSelect="OnSelectSnippet" />

    <label>Topics</label>
    <div class="text-secondary">
        each topic in new row
    </div>

    <div class="text-start py-2">
        <a class="btn btn-outline-secondary btn-sm"
                @onclick:stopPropagation
                @onclick=@(e=>OnChangeExampleType("post") )>
            post
        </a>
        <a class="btn btn-outline-secondary btn-sm"
                @onclick:stopPropagation
                @onclick=@(e=>OnChangeExampleType("page") )>
            page
        </a>
    </div>

    <InputTextArea class="form-control flex-fill textarea-code f-on-tabpress-write-tab" 
        @bind-Value=Node.Topics />

    @*<MarsCodeEditor @ref=editor1
    Lang="@MarsCodeEditor.Language.handlebars"
    OnSave="OnEditorSave"
    Value="@Node.Template" />*@
</div>


@code {
    [CascadingParameter] Node? Value { get; set; }
    EventNode Node { get => (EventNode)Value!; set => Value = value; }


    //MarsCodeEditor? editor1;


    //public override async Task OnEditSave()
    //{
    //    //Console.WriteLine("X>1111");
    //    Node.Topics = await editor1.GetValue();
    //    //Console.WriteLine("X>2222");
    //    //await Task.Delay(100);
    //}


    //void OnEditorSave(string val)
    //{
    //    //_ = form.OnFinish();
    //}

    void OnChangeExampleType(string val)
    {
        InsertText($"\nentity.post/{val}/update");
    }

    void InsertText(string val)
    {
        Node.Topics = (Node.Topics + val).Trim();
    }

    private void OnSelectSnippet(KeyValuePair<string, string> val)
    {
        InsertText(val.Value + "\n");
    }
}

