@using AppFront.Shared.Components
@using Microsoft.FluentUI.AspNetCore.Components
@inherits NodeEditForm
@attribute [NodeEditFormForNode(typeof(ExecNode))]

<div class="vstack gap-3">
    <FormItem2 For="() => Node.Command" Class="">
        <FluentTextField @bind-Value="@Node.Command" />
    </FormItem2>
    <FluentCheckbox @bind-Value="@Node.Append">
        <AutoInputLabel For="() => Node.Append" />
    </FluentCheckbox>
</div>

@code {
    [CascadingParameter] Node Value { get; set; } = default!;
    ExecNode Node { get => (ExecNode)Value; set => Value = value; }

}
