@using AppFront.Shared.Components
@using Microsoft.FluentUI.AspNetCore.Components
@inherits NodeEditForm
@attribute [NodeEditFormForNode(typeof(FileReadNode))]

<div class="vstack gap-3">
    <FormItem2 For="() => Node.FilePath" Class="">
            <FluentTextField @bind-Value="@Node.FilePath" Class="w-100" />
    </FormItem2>

    <FormItem2 For=@(() => Node.OutputMode)>
        <FluentSelect @bind-SelectedOption="@Node.OutputMode"
                      TOption="FileReadNode.FileOutputMode"
                      Items="Enum.GetValues<FileReadNode.FileOutputMode>()"
                      Style="width: 250px;">
        </FluentSelect>
    </FormItem2>

    <div class="mt-3">
        <div class="alert alert-warning">
            Tip: The filename should be an absolute path, otherwise it will be relative to the working directory of the Node-RED process.
        </div>
    </div>
</div>

@code {
    [CascadingParameter] Node Value { get; set; } = default!;
    FileReadNode Node { get => (FileReadNode)Value; set => Value = value; }

}
