@using AppFront.Shared.Components
@using Mars.Nodes.FormEditor.EditForms.Components
@using Microsoft.FluentUI.AspNetCore.Components
@inherits NodeEditForm
@attribute [NodeEditFormForNode(typeof(HttpRequestNode))]

<div class="form-group compact" style="--fluent-input-label-basis:150px">
    <div class="vstack gap-2">
        <FormItem2 For="() => Node.Url">
            <FluentTextField TextFieldType="TextFieldType.Url" @bind-Value=@Node.Url Appearance="FluentInputAppearance.Filled" Class="flex-fill" />
        </FormItem2>
        <FormItem2 For="() => Node.Method">
            <FluentSelect TOption="string"
                          Items="Node.MethodVariants"
                          Appearance="Appearance.Stealth"
                          @bind-SelectedOption=@Node.Method />
        </FormItem2>

        <FormItem2 For="() => Node.AuthConfig">
            <InputConfigField @bind-Value=@Node.AuthConfig />
        </FormItem2>

        <div class="spacer-1"></div>

        <SelectHeadersField @bind-Value=Node.Headers For="@(() => Node.Headers)" />

    </div>

</div>

@code {
    [CascadingParameter] Node Value { get; set; } = default!;
    HttpRequestNode Node { get => (HttpRequestNode)Value; set => Value = value; }

}
