@using AppFront.Shared.Components
@using Microsoft.FluentUI.AspNetCore.Components
@inherits NodeEditForm
@attribute [NodeEditFormForNode(typeof(JsonNode))]

<div class="form-group compact" style="--fluent-input-label-basis:150px">
    <div class="vstack gap-3">
        <FormItem2 For="() => Node.Property">
            <FluentTextField @bind-Value=Node.Property Class="" />
        </FormItem2>

        <FormItem2 For="() => Node.Action">
            <FluentSelect Items="Enum.GetValues<JsonNode.JsonNodeAction>()" @bind-SelectedOption=@Node.Action Class="" />
        </FormItem2>
        <FormItem2 For="() => Node.FormatJsonString" Label="Format">
            <FluentCheckbox @bind-Value="@Node.FormatJsonString">
                <AutoInputLabel For="() => Node.FormatJsonString" />
            </FluentCheckbox>
        </FormItem2>
    </div>
</div>

@code {
    [CascadingParameter] Node Value { get; set; } = default!;
    JsonNode Node { get => (JsonNode)Value; set => Value = value; }

}
