@using AppFront.Shared.Components
@using Microsoft.FluentUI.AspNetCore.Components
@using Mars.Nodes.FormEditor.EditForms.Components
@inherits NodeEditForm
@attribute [NodeEditFormForNode(typeof(MqttOutNode))]

<div class="form-group compact" style="--fluent-input-label-basis:150px">
    <div class="vstack gap-2">

        <FormItem2 For="()=>Node.Config">
            <InputConfigField @bind-Value=@Node.Config TConfig="MqttBrokerConfigNode" />
        </FormItem2>

        <FormItem2 For="()=>Node.Topic">
            <FluentTextField @bind-Value=@Node.Topic Class="flex-fill" />
        </FormItem2>

        <FormItem2 For="()=>Node.QoS">
            <FluentSelect TOption="NodeMqttQualityOfServiceLevel"
                          Items="Enum.GetValues<NodeMqttQualityOfServiceLevel>()"
                          @bind-SelectedOption=@Node.QoS />
        </FormItem2>
    </div>
</div>

@code {
    [CascadingParameter] Node? Value { get; set; }
    MqttOutNode Node { get => (MqttOutNode)Value!; set => Value = value; }

}
