@inherits NodeEditForm
@attribute [NodeEditFormForNode(typeof(SumNode))]

<div class="form-group">
    <label>a</label>
    <InputNumber class="form-control" @bind-Value=Node.a />
</div>
<div class="form-group">
    <label>b</label>
    <InputNumber class="form-control" @bind-Value=Node.b />
</div>


@code {
    [CascadingParameter] Node Value { get; set; } = default!;
    SumNode Node { get => (SumNode)Value; set => Value = value; }

}
