@page "/builder/"

<ContentWrapper>
    <div class="spacer-3"></div>
    <section id="apps">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
            <div class="col">
                <div class="card d-card-glow">
                    <div class="hstack ms-4">
                        <div class="vstack flex-grow-0 my-3">
                            <i class="bi bi-diagram-2 sbtn-rotate--90 fs-1 color-accent"></i>
                        </div>
                        <div class="card-body">
                            <h4 class="mb-0">
                                NodeRed
                            </h4>
                            <p class="">Визуальное программирование</p>

                            <a href="nodered" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card d-card-glow">
                    <div class="hstack ms-4">
                        <div class="vstack flex-grow-0 my-3">
                            <i class="bi bi-bug fs-1 color-accent"></i>
                        </div>
                        <div class="card-body">
                            <h4 class="mb-0">
                                Логи
                            </h4>
                            <p class="">Визуальное программирование</p>

                            <a href="builder/debug" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card d-card-glow">
                    <div class="hstack ms-4">
                        <div class="vstack flex-grow-0 my-3">
                            <i class="bi bi-ladder fs-1 color-accent"></i>
                        </div>
                        <div class="card-body">
                            <h4 class="mb-0">
                                DevPages
                            </h4>
                            <p class="">pages on dev</p>

                            <a href="builder/DevTestPage" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card d-card-glow">
                    <div class="hstack ms-4">
                        <div class="vstack flex-grow-0 my-3">
                            <i class="bi bi-journal-check fs-1 color-accent"></i>
                        </div>
                        <div class="card-body">
                            <h4 class="mb-0">
                                Scheduler
                            </h4>
                            <p class="">фоновые задачи</p>

                            <a href="builder/scheduler" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card d-card-glow">
                    <div class="hstack ms-4">
                        <div class="vstack flex-grow-0 my-3">
                            <i class="bi bi-brilliance fs-1 color-accent"></i>
                        </div>
                        <div class="card-body">
                            <h4 class="mb-0">
                                Styler
                            </h4>
                            <p class="">fluent design UI edit</p>

                            <a href="builder/styler" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card d-card-glow">
                    <div class="hstack ms-4">
                        <div class="vstack flex-grow-0 my-3">
                            <i class="bi bi-plugin fs-1 color-accent"></i>
                        </div>
                        <div class="card-body">
                            <h4 class="mb-0">
                                Plugins
                            </h4>
                            <p class="">list of plugins</p>

                            <a href="Plugins" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="col">
        </div>
    </div>
</ContentWrapper>
