@page "/Roles"

<ContentWrapper>
    <StandartManagementTable TModel=Role TService=RoleService>
        <TableContent>
            <Column @bind-Field=@context.Name>
                <a href="/roles/@context.Id">@context.Name</a>
            </Column>
            <Column @bind-Field=@context.Created Format="yyyy-MM-dd" Sortable Title="Создан" />
        </TableContent>
    </StandartManagementTable>
</ContentWrapper>
