@using Microsoft.FluentUI.AspNetCore.Components
<div class="vstack gap-2 p-3">
    <a href="/dev/builder">
        <FluentButton Appearance="Appearance.Stealth" Class="w-100">
            <i class="bi bi-grid-3x3-gap-fill me-1"></i>
            Builder
        </FluentButton>
    </a>
    <a href="/dev/Settings">
        <FluentButton Appearance="Appearance.Stealth" Class="w-100">
            <i class="bi bi-gear me-1"></i>
            @AppRes.Settings
        </FluentButton>
    </a>
</div>
